*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
p{
    padding: 10px 20px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
}
button{
    padding: 10px 20px ;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:active{
    scale:0.95;
}