*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
button{
    padding: 10px 30px;
    background-color:rgb(137, 72, 72);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 2;
}
button:active{
    scale: 0.95;
}